.corpodosite{
    color: white;
}




.cabecalho{
    background-image: linear-gradient(black,cyan);
    color: aliceblue;
    display: flex;
    padding: 24px;
}
.section1 {
   background-image: linear-gradient(cyan,black);
   padding: 24px;  
   font-size: 20px;       
}

.section2{
    background-image: linear-gradient(black,cyan);
    color: aliceblue;
    display: flex;
    padding: 24px;
}
.cabecalho-imagem{
    width: 100%;         
}


.rodape{
    background-image: linear-gradient(cyan,black);
    color: aliceblue;
    display: flex;
    padding: 24px;
}
