.corpodosite{
    color: white;
}




.cabecalho{
    background-image: linear-gradient(black,cyan);
    color: aliceblue;
    display: flex;
    padding: 200;
}
.section1 {
   background-image: linear-gradient(cyan,black);
   padding: 200;  
   font-size: 20px;     
}

.section2{
    background-image: linear-gradient(black,cyan);
    color: aliceblue;
    display: flex;
    padding: 24px;
}
.cabecalho_imagem{
    width: 30%;         
}
.section2{
    width: 10%;
}
.rodape{
    background-image: linear-gradient(cyan,black);
    color: aliceblue;
    display: flex;
    padding: 24px;
}
